.conteiner-home {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;

}

.div-home {
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 900px ;
    justify-content: center;

}

