.conteiner-form-register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
  margin-left: 80px;
  padding-top: 80px;
  align-items: center;
  justify-items: center;
  color: antiquewhite;
}

.labelRegister {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;

}

.labelRegister input {
  font-size: 25px;
  border-radius: 10px;
}

.btnRegister {
  font-size: 32px;
  font-weight: 600;
  width: 250px;
  gap: 10px;
  border-radius: 10px;
  background-color: #ff1bff;
  color: aliceblue;
  cursor: pointer;
}

.btnRegister:hover {
  background-color: #ecff1b;
  color: aliceblue;
}

.textFormRegister {
  font-size: 52px;
  margin-left: 10px;
}

.textLogin {
  color: aliceblue;
  text-decoration: none;
}

.alertRegister{
  color: #fc0000;
  font-size: 20px;
  font-weight: 800;
}